langdetect
nltk
tiktoken
openai
spacy
transformers
sentence-transformers
torchmetrics
torch
torchvision
torchaudio
dgl 
torchdata
torch_geometric
pyg_lib
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv